<link rel="stylesheet" href="/css/styles.css"/>
<% if(savedBook){ %>
    <!-- Modal -->
<div class="modal fade" id="editTagsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Tags</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class ="container d-flex justify-content-center align-items-center">
                <form class="input-group mb-3 flex-column" method="POST" action="/books/details">
                    <div class="input-group-text">
                        <input hidden value="<%= details.key %>" name="bookKey"/>
                        <input hidden value="<%= savedBook.id %>" name="bookId"/>
                        <input hidden value="<%= user.id %> " name="userId"/>
                        <label for="addTag">Make a New Tag</label>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                        </div>
                        <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                        <input type="text" class="form-control" id ="addTag" name="title" aria-label="Text input with checkbox">
                    </div>
                    <button class="btn btn-primary mt-1" type="submit">Add Tags!</button>
                </form>
                <form method="POST" action="/books/details/?_method=PUT" class="d-flex flex-column w-100 form-control">
                    <input hidden value="<%= details.key %>" name="bookKey"/>
                    <input hidden value="<%= savedBook.id %>" name="bookId"/>
                    <input hidden value="<%= user.id %> " name="userId"/>
                    <label for="editTags">Choose a tag:</label>
                    <% relevantTags.forEach(tag => { %>
                    <div class="mb-3">
                        <input type="checkbox" id="relevantTag-<%= tag.id %>" value="<%= tag.id %> " name="id[]" checked="true" class="tags">
                        <label for="relevantTag-<%= tag.id %>"><%=tag.title%></label>
                    </div>
                    <% }) %>
                    <% nonRelevantTags.forEach(tag => { %>
                    <div class="mb-3">
                        <input type="checkbox" id="nonRelevantTag-<%= tag.id %>" value="<%= tag.id %> " name="id[]" class="tags">
                        <label for="nonRelevantTag-<%= tag.id %>"><%=tag.title%></label>
                    </div>
                    <% }) %>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" id="editTagButton" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>
<% } %>
<div id="details-page" class="container d-flex flex-column justify-content-center align-items-center">
    <% if(!details.covers){ %>
        <p>No Cover Image Available</p>
    <% }else{ %>
            <img src ="https://covers.openlibrary.org/b/id/<%=details.covers[0]%>-L.jpg" />
    <% } %>
    <h1><%= details.title %> </h1>
    <h2><%= author.name %> </h2>
    
    <% if(typeof(details.description) === "string"){ %>
        <p><%= details.description %> </p>
    <% }else if(typeof(details.description) === 'object'){ %>
            <p><%= details.description.value %> </p>
    <% }else{ %>
        <p>No Description Available</p>
    <% } %>
    <% if(!details.links){ %>
    <% }else{ %>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <ul class="list-unstyled justify-content-center text-center">Links:
                <% details.links.forEach(link => { %>
                    <li>
                        <a href="<%= link.url%>"><%= link.title %> </a>
                    </li>
            <% }) %>
            </ul>
        </div>
    <% } %>
    <% if(!savedBook){ %>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <form method="POST" action="/users/profile">
            <input hidden value="<%= details.key %>" name="bookid"/>
            <input hidden value="<%= details.title %>" name="title"/>
            <input hidden value="<%= author.name %>" name="author"/>
            <% if(!details.covers){ %>
            <% }else{ %>
            <input hidden value="https://covers.openlibrary.org/b/id/<%=details.covers[0]%>-L.jpg" name="books_cover_url"/>
            <% } %>
            <input hidden value="<%= user.id %> " name="userId"/>
            <button type="submit" class="btn btn-primary">Save this book!</button>
        </form>
    </div>
    <% } else{ %>
        <div class="d-flex flex-column justify-content-center text-center align-items-center">
            <ul class="list-unstyled">Your Tags:
                <% relevantTags.forEach(tag =>{ %>
                    <li>
                        <%= tag.title %>
                    </li>
                <% }) %>
            </ul>
        </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editTagsModal">
                Edit Tags!
            </button>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mb-5 mt-1">
            <form >
               
            </form>
        </div>
    
    <% } %>
    <!-- <a href="/books/results">Back</a> -->
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>