<img src ="https://covers.openlibrary.org/b/id/<%=details.covers[0]%>-L.jpg" />
<h1><%= details.title %> </h1>
<h2><%= author.name %> </h2>

<% if(typeof(details.description) === "string"){ %> 
    <p><%= details.description %> </p>
<% }else{ %> 
        <p><%= details.description.value %> </p>
<% } %> 
<ul>Links:
    <% details.links.forEach(link => { %>
        <li>
            <a href="<%= link.url%>"><%= link.title %> </a>
        </li>
   <% }) %> 
</ul>
<% if(!savedBook){ %> 
<form method="POST" action="/users/profile">
    <input hidden value="<%= details.key %>" name="bookid"/>
    <input hidden value="<%= details.title %>" name="title"/>
    <input hidden value="<%= author.name %>" name="author"/>
    <input hidden value="https://covers.openlibrary.org/b/id/<%=details.covers[0]%>-L.jpg" name="books_cover_url"/>
    <input hidden value="<%= user.id %> " name="userId"/>
    <button type="submit">Save this book!</button>
</form>
<% } else{ %> 
    <ul>Tags:
        <% relevantTags.forEach(tag =>{ %> 
            <li><%= tag.title %></li>
        <% }) %> 
    </ul>
    <form method="POST" action="/books/details">
        <input hidden value="<%= details.key %>" name="bookKey"/>
        <input hidden value="<%= savedBook.id %>" name="bookId"/>
        <input hidden value="<%= user.id %> " name="userId"/>
        <input type="text" name="title"/>
        <button type="submit">Add Tags!</button>
    </form>

<% } %>
<!-- <a href="/books/results">Back</a> -->
