<!-- Modal -->
<div class="modal fade" id="editTagsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Tags</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class ="container d-flex justify-content-center align-items-center">
                <form method="POST" action="/books/details/?_method=PUT" class="d-flex flex-column w-100 form-control">
                    <input hidden value="<%= details.key %>" name="bookKey"/>
                    <input hidden value="<%= savedBook.id %>" name="bookId"/>
                    <input hidden value="<%= user.id %> " name="userId"/>
                    <label for="editTags">Choose a tag:</label>
                    <% relevantTags.forEach(tag => { %>
                    <div class="mb-3">
                        <input type="checkbox" id="relevantTag" name="title" checked="true">
                        <label for="relevantTag"><%=tag.title%></label>
                    </div>
                    <% }) %>
                    <% nonRelevantTags.forEach(tag => { %>
                    <div class="mb-3">
                        <input type="checkbox" id="nonRelevantTag" name="title" >
                        <label for="nonRelevantTag"><%=tag.title%></label>
                    </div>
                    <% }) %>
                </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="editTagButton" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editTagsModal">
        Edit Tags
    </button>